/*reset*/
html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
padding: 0; margin: 0;
}

html,body{
display: block;
height: 100%; width: 100%;
overflow: hidden;
}

ul,li,a{
margin: 0; padding: 0;
list-style: none;
text-decoration: none;
}

/*general attributes*/
header, section, footer {
  width: 100%;
  font-family: arial;
}

.flex-box div, #logo {
  height: 25vh;
}

#avatar, #logo {
  width: auto;
}

.line, .line2, .line3, .line4 {
  background-color: black;
  height: 0.5vh;
}

/*header specific code*/
header {
  background: linear-gradient(to right, #3E4CFF, #35D4FF);
  border: 1px solid blue;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.flex-box a{
  line-height: 25vh;
  color: white;
}

.flex-box div {
  font-size: 30px;
  padding: 0px 20px;
  text-transform: uppercase;
}

.flex-box div:hover {
  background-color: black;
}

#logo {
  transition: transform 2s;
}

#logo:hover {
  transform: rotateY(180deg);
}

/*section specific code*/
section {
  height: auto;
  background-color: #eef7df;
  margin-top: 0.5vh;
}

.flexy {
  display: flex;
  justify-content: space-between;
}

.main {
  flex-basis: 70%;
}

.main div {
  margin: 0.5vh 0;
}

/*Left side table*/

.asideLeft {
  display: grid;
  grid-template-columns: 25% 75%;
  flex-basis: 25%;
  grid-row-gap: 0.5em;
  margin-left: 1vw;
}

#avatar {
  height: 25vh;
  padding-left: 6.25vw;
  grid-column: 1 / span 2;
  grid-row: 1/ span 2;
  justify-content: center;
}

.line { grid-area: 3/1/4/3; }
.Name { grid-area: 4;}
.NameR { grid-area: 4/2;}
.Title { grid-area: 5;}
.TitleL { grid-area: 5/2;}
.line2 { grid-area: 6/1/7/3; }
.background { grid-area: 7/1/8/3;}
.subGrid {
  grid-area: 8/1/9/3;
  display: grid;
  grid-template-columns: 10% 90%;
  margin-left: 1vw;
}
.fa-git {grid-area: 1;}
.git {grid-area: 1/2;}
.fa-html5{grid-area: 2;}
.code {grid-area: 2/2;}
.fa-css3-alt{grid-area: 3;}
.style {grid-area: 3/2;}

.line3 { grid-area: 9/1/10/3; }
.tech {grid-area: 10/1/11/3; }
.pre {grid-area: 11; }

/*footer specific code*/

footer {
  color: black;
  text-align: center;
}
